version: 2

models:
  - name: dim_loan_applications
    description: "Dimension table exposing the latest (current) version of each loan application, derived from int_loan_applications."

    tests:
      - dbt_utils.expression_is_true:
            name: loan_issued_fields_all_or_none
            expression: >
                (
                (issued_loan_id IS NULL AND loan_issued_at IS NULL AND issued_amount IS NULL)
                OR
                (issued_loan_id IS NOT NULL AND loan_issued_at IS NOT NULL AND issued_amount IS NOT NULL)
                )

    columns:
      - name: application_id
        description: "Business key of the loan application. Unique in the dimension."
        tests:
            - unique:
                name: application_id_is_unique
            - not_null:
                name: application_id_is_not_null

      - name: applicant_id
        description: "Identifier of the applicant who submitted the loan application."
        tests:
          - not_null:
                name: applicant_id_is_not_null

      - name: country_name
        description: "Country name where the loan application originated"
        tests:
          - not_null:
                name: country_name_is_not_null

      - name: loan_product_type
        description: "Name of the loan product type chosen by the applicant."
        tests:
          - not_null:
                name: loan_product_type_is_not_null
          - accepted_values:
              name: loan_product_type_has_accepted_values
              values: ['Standard', 'App', 'OneClickLoan', 'Credit']

      - name: application_started_at
        description: "Timestamp when the applicant started the loan application."
        tests:
          - not_null:
                name: application_started_at_is_not_null

      - name: requested_amount
        description: "Amount the applicant originally requested."
        tests:
          - not_null:
                name: requested_amount_is_not_null
          - dbt_utils.expression_is_true:
                name: requested_amount_is_non_negative
                expression: ">= 0"

      - name: issued_loan_id
        description: "Identifier of the issued loan, if the application resulted in an issued loan."

      - name: loan_issued_at
        description: "Timestamp of when the loan was issued, if applicable."

      - name: issued_amount
        description: "Actual issued loan amount. NULL if no loan was issued."
        tests:
          - dbt_utils.expression_is_true:
                name: issued_amount_is_non_negative
                expression: ">= 0"
